* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  background-color: #1a1a1a; /* Matte Ash Base */
  font-family: 'Inter', sans-serif;
}